header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.logo img {
	height: 50px;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
}


body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #0c034a;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;

}



nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #555;
}

.main-section {
	margin: 50px;
}
.about-section img {
	display: block;
	margin: 30px auto;
	max-width: 100%;
	height: auto;
}


.main-section h1 {
	font-size: 36px;
  background-color: #efd4f6;
}

.main-section p {
	font-size: 18px;
}

footer {
	background-color: #0dbdea;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.services-section {
	margin: 50px;
}

.services-section h2 {
	font-size: 24px;
}

.services-section ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.services-section li {
	
	padding: 20px;
	margin: 10px;
	background-color: #d4e3ea;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.597);
	text-align: center;
}

.services-section li h3 {
  font-size: 20px;
	margin-bottom: 10px;
}

.services-section li p {
  font-size: 16px;
}

.about-section img {
  
  margin: 10px auto;
  max-width: 50%;
  height: auto;
}

.contact-section {
	margin: 50px;
}

.contact-section h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.contact-section form {
	display: flex;
	flex-wrap: wrap;
}

.contact-section label {
	flex-basis: 100%;
	margin-bottom: 10px;
}

.contact-section input,
.contact-section textarea {
	flex-basis: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

.contact-section input[type="submit"] {
	background-color: #1619d4;
	color: #fff;
	border: none;
	cursor: pointer;
}

.button#cta-btn {
  background-color: #1619d4;
	color: #fff;
	border: none;
	cursor: pointer;
}